h1 {
  display: inline;
  margin-right: 20px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1300; } }

#category-bar {
  width: 100%; }

body {
  padding: 12px; }
  body #gif-gallery {
    padding: 12px 0px;
    /*
        .overlay:hover {
            opacity: 1;
        }
        */ }
    body #gif-gallery img {
      margin: 6px;
      z-index: -1; }
    body #gif-gallery #more {
      height: 112px;
      width: 200px;
      margin: 6px; }
    body #gif-gallery .div-gif {
      position: relative;
      height: fit-content; }
    body #gif-gallery .div-cat {
      border-style: solid;
      border-width: 1px;
      margin: 6px; }
      body #gif-gallery .div-cat text {
        margin: 6px; }
    body #gif-gallery .overlay {
      position: absolute;
      top: 6px;
      right: 6px;
      background: black;
      background: rgba(0, 0, 0, 0.5);
      /* Black see-through */
      opacity: 0;
      transition: .5s ease;
      color: white;
      font-size: 20px;
      padding: 6px;
      z-index: 1; }
    body #gif-gallery .loved {
      color: red; }
    body #gif-gallery .fresh {
      position: absolute;
      top: 6px;
      right: 6px;
      color: green;
      font-size: 20px;
      padding: 6px;
      z-index: 2;
      display: none; }
