$brandPadding: 12px;
$gifMargin: 6px;

@mixin standardPadding($value) {
    padding: $value;
}

h1 {
    display: inline;
    margin-right: 20px;
}

@media (min-width: 1200px) {

    .container {
         max-width: 1300;
    }
}


#category-bar {
    width: 100%;
}

body {
    @include standardPadding($brandPadding);

    #gif-gallery {
        padding: $brandPadding 0px;

        img {
            margin: $gifMargin;
            z-index: -1;
        }

        #more {
            height: 112px;
            width: 200px;
            margin: $gifMargin;
        }

        .div-gif {
            position: relative;
            height: fit-content;
        }

        .div-cat {
            border-style: solid;
            border-width: 1px;
            margin: $gifMargin;

            text {
                margin: $gifMargin;
            }
        }

        /*
        .overlay:hover {
            opacity: 1;
        }
        */

        .overlay {
            position: absolute;
            top: $gifMargin;
            right: $gifMargin;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5); /* Black see-through */
            opacity: 0;
            transition: .5s ease;
            color: white;
            font-size: 20px;
            padding: $gifMargin;
            z-index: 1;
        }

        .loved {
            color: red;
       
        }

        .fresh {
            position: absolute;
            top: $gifMargin;
            right: $gifMargin;
             color: green;
            font-size: 20px;
            padding: $gifMargin;
            z-index: 2;
            display: none;
        }
    }
}


