/***************************
****************************
Reset
****************************
***************************/

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



$brandPadding: 12px;
$gifMargin: 20px;
$gifMarginHalf: $gifMargin / 2;

@mixin standardPadding($value) {
    padding: $value;
}

h1 {
     margin-right: 20px;
     margin-top: 0px;
     margin-bottom: 0px;
}

#search-div {
    display: flex;
    width: auto;

    button {
        margin-bottom: .5rem;
    }
}

 
h1, h2, h3 {
    font-weight: bold;
    white-space: nowrap;
  }
  a {
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
  }

@media (min-width: 1200px) {

    .container {
         max-width: 1300;
    }

    #gif-gallery {
        flex-wrap: nowrap;
    }
}

@media (min-width: 750px) {
    #gif-gallery {
        flex-wrap: nowrap;
    }
}

.hide {
    display: none;
}


#category-bar {
    width: 100%;
}

#text-search {
    width: 100%;
}

#more {
    margin: auto;
    display: block;
}

body {
    @include standardPadding($brandPadding);

    #copysuccess {
        position: absolute;
        top: 0;
        right: 0;
        transition: .5s ease;
        z-index: 1;
        width: 100%;
     }

    #page-title {
        text-align: center;
    }

    #subcategories {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;

        .subcategory {
            margin: 6px;
        }
    }

    #gif-gallery {
        padding: $brandPadding 0px;

        img {
 
            z-index: -1;
        }

        #more {
            height: 112px;
            width: 200px;
        }

        .div-gif {
            position: relative;
            height: fit-content;
            margin: $gifMargin $gifMarginHalf;
            

        }

        .div-gif:hover {
            box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .div-gif:hover > .hide {
            display: inline;
        }

        .div-cat {
            border-style: solid;
            border-width: 1px;
            margin: $gifMargin;

            text {
                margin: $gifMargin;
            }
        }

        .div-cat:hover {
            box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

 


        /*
        .overlay:hover {
            opacity: 1;
        }
        */

        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            //background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5); /* Black see-through */
            //opacity: 0;
            transition: .5s ease;
            color: white;
            font-size: 20px;
            padding: 6px;
            z-index: 1;
         }

        .fas.fa-heart {
            color: red;
        }

        .fa-heart {
            cursor: pointer;
        }

        .fa-link {
            padding-right: 12px;
            cursor: pointer;
        }

        .fresh {
            position: absolute;
            top: 0;
            right: 0;
            background: transparent;
            // color: green;
            font-size: 20px;
            padding: 6px;
            z-index: 2;
            display: none;
        }

        .loved > .fresh {
            display: inline;
        }

        .favoriteheart {
            position: absolute;
            top: 0;
            right: 0;
            //background: rgb(0, 0, 0);
            background:white;
            border-radius: 50%;
            //opacity: 0;
             color: red;
             margin: 2px;
            font-size: 20px;
            padding: 6px;
            z-index: 1;
        }
    }

    #copylink {
        position: fixed;
        top: 0;
        left: 0;
     
        // Ensure it has a small width and height. Setting to 1px / 1em
        // doesn't work as this gives a negative w/h on some browsers.
        width: 2em;
        height: 2em;
 
      
        // We don't need padding, reducing the size if it does flash render.
        padding: 0;
        padding: 0;
        
        // Clean up any borders.
        border: none;
        outline: none;
        box-shadow: none;
       
        // Avoid flash of the white box if rendered for any reason.
        background: transparent;

        display: none;
    }
}


