$brandPadding: 12px;

@mixin standardPadding($value) {
    padding: $value;
}

body {
    @include standardPadding($brandPadding);

    #gif-gallery {
        padding: $brandPadding 0px;

        img {
            margin: 6px;
        }

        button {
            height: 112px;
            width: 200px;
            margin: 6px;
            
        }
    }
}